

$bg-color: #000000;
$card-bg: rgba(0, 0, 0, 0.8);

$text-primary: #ffffff;
$text-secondary: #3d3dcc;

$accent-cyan: #00ffff;
$accent-core: #ffff00;
$accent-blue: #0000ff;
$accent-purple: #ff00ff;
$accent-danger: #ff0000;

$border-color: #00ffff;


