@define-color foreground #c1c3c5;
@define-color background #0a1017;
@define-color cursor #c1c3c5;

@define-color color0 #0a1017;
@define-color color1 #6D6B6D;
@define-color color2 #44718A;
@define-color color3 #837E83;
@define-color color4 #4C9CBE;
@define-color color5 #959396;
@define-color color6 #9EA5AE;
@define-color color7 #c1c3c5;
@define-color color8 #59626d;
@define-color color9 #6D6B6D;
@define-color color10 #44718A;
@define-color color11 #837E83;
@define-color color12 #4C9CBE;
@define-color color13 #959396;
@define-color color14 #9EA5AE;
@define-color color15 #c1c3c5;
