/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #0a1017 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c1c3c5; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c1c3c5; background-color: rgba(158,165,174,0.4)}
.cm-s-nqqwal { background-color: #0a1017; color: #c1c3c5; }
.cm-s-nqqwal span.cm-builtin { color: #44718A; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #59626d; }
.cm-s-nqqwal span.cm-keyword { color: #837E83; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #4C9CBE; }
.cm-s-nqqwal span.cm-def { color: #959396; }
.cm-s-nqqwal span.cm-variable { color: #9EA5AE; }
.cm-s-nqqwal span.cm-variable-2 { color: #959396; }
.cm-s-nqqwal span.cm-string { color: #44718A; }
.cm-s-nqqwal span.cm-string-2 { color: #44718A; }
.cm-s-nqqwal span.cm-number { color: #959396; }
.cm-s-nqqwal span.cm-tag { color: #837E83; }
.cm-s-nqqwal span.cm-property { color: #9EA5AE; }
.cm-s-nqqwal span.cm-attribute { color: #9EA5AE; }
.cm-s-nqqwal span.cm-qualifier { color: #4C9CBE; }
.cm-s-nqqwal span.cm-meta { color: #959396; }
.cm-s-nqqwal span.cm-header { color: #837E83; }
.cm-s-nqqwal span.cm-operator { color: #837E83; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(149,147,150,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #837E83; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #0a1017); }
